<!-- SERVIDOR -->
<div class="block whiteBg text-center">
    <h1 ng-if="!$ctrl.serverUrl">Consultar no servidor:</h1>
    <h1 ng-if="$ctrl.serverUrl">Servidor {{$ctrl.serverUrl}}</h1>
    <input type="text" name="serverIp" id="serverIp" placeholder="Ex.: 10.80.81.238:8080" ng-model="$ctrl.serverUrl" />
</div>

<!-- WORKFLOW -->
<div class="block">
    <h1>BPM</h1>

    <div class="card" ng-click="$ctrl.goTo('/tools/bpm/cancel-requests')">
        <i class="fa fa-ban"></i>
        Cancelar minhas solicitações
    </div>
    <div class="card" ng-click="$ctrl.goTo('/tools/bpm/export-process')">
        <i class="fa fa-code-fork"></i>
        Exportar processo
    </div>
</div>

<!-- WCM -->
<div class="block">
    <h1>WCM</h1>
    <div class="card" ng-click="$ctrl.goTo('/tools/wcm/create-company')">
        <i class="fa fa-building-o"></i>
        Criar empresa
    </div>
    <div class="card" ng-click="$ctrl.goTo('/tools/wcm/create-users')">
        <i class="fa fa-users"></i>
        Criar usuários
    </div>
</div>
